#sidebar-square {
    display: none;
    transition: 0.2s 0s linear;
}

aside {
    display: none;
    overflow: hidden;
}

#slidingdoor {
    display: none;
    overflow: hidden;
}

#sidebar {
    display: none;
}

/* Commented out while I figure out CSS animations */
/* @keyframes menuButton {
    from {
        background-color: #a5a5a5;
    }
    to {
        background-color: #4b4b4b;
    }
}

@keyframes rectangleRotate {
    from {
        transform: rotate(0deg);
        background-color: #ffffff;
        width: 1.875rem;
    }

    to {
        transform: rotate(90deg);
        background-color: #a5a5a5;
        width: .375rem;
    }
} */

@media only screen and (max-width: 848px) {
    aside {
        display: block;
    }
    
    #slidingdoor {
        position: absolute;
        top: 8dvh;
        bottom: 4dvh;
        z-index: 2;
        width: 100%;
        height: 88dvh;
        background-color: hsl(16deg 15% 80% / 50%);
    }

    #sidebar-square {
        display: block;
        width: 38px;
        height: 38px;
        background-color: orangered;
        border-radius: .625rem;
        
        &:hover {
            cursor: pointer;
        }
    }
    
    
    #rectangle-flex {
        width: 38px;
        height: 38px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: .4s 0s cubic-bezier(0.23, 0.72, 0.45, 1.35);
    }
    
    .rectangle {
        position: relative;
        width: 30px;
        height: 6px;
        background-color: #fafafa;
        border-radius: 3px;
        transition: width 0.17s 0s linear;
    }

    footer {
        z-index: 11;
    }

    #sidebar {
        position: absolute;
        right: 0;
        top: 8dvh;
        height: 88dvh;
        width: 0%;
        z-index: 10;
        background-color: #f3f2f2;
        border-radius: 2.25rem 0px 0px 2.25rem;
        transition: width 0.166s 0s;
    }

    #sidenav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 1.75rem 12.5% 0;
        list-style-type: none;

        & a {
            border-radius: .75rem;
            padding: 0.25rem .5rem;
            text-align: center;
            background-color: #591000;
            color: #f6f0ee;
        }

        & li {
            font-family: "Baloo 2", sans-serif;
            font-size: 1.5rem;
        }
    }
}