#sidebar-square {
    display: none;
    transition: 0.2s 0s linear;
}

aside {
    display: none;
    overflow: hidden;
}

#slidingdoor {
    display: none;
    overflow: hidden;
}

#sidebar {
    display: none;
}

#sidenav {
    margin: 0 12.5%;
}

/* Commented out while I figure out CSS animations */
/* @keyframes menuButton {
    from {
        background-color: #a5a5a5;
    }
    to {
        background-color: #4b4b4b;
    }
}

@keyframes rectangleRotate {
    from{
        transform: rotate(0deg);
        background-color: #ffffff;
        width: 1.875rem;
    }

    to{
        transform: rotate(90deg);
        background-color: #a5a5a5;
        width: .375rem;
    }
} */

@media only screen and (min-width: 425.1px) {
    #sidenav {
        margin: 0 35% 0 15%;
    }
}

@media only screen and (max-width: 848px) {
    aside {
        display: block;
    }
    
    #slidingdoor {
        position: absolute;
        top: 8dvh;
        bottom: 4dvh;
        z-index: 2;
        width: 100%;
        height: 88dvh;
        background-color: hsl(16deg 15% 80% / 50%);
    }

    #sidebar-square {
        display: block;
        width: 38px;
        height: 38px;
        background-color: orangered;
        border-radius: .625rem;
    }
    
    #sidebar-square:hover {
        cursor: pointer;
    }
    
    #rectangle-flex {
        width: 38px;
        height: 38px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: .36s 0s cubic-bezier(.32,.64,.51,1.14);
    }
    
    .rectangle {
        position: relative;
        width: 30px;
        height: 6px;
        background-color: #fafafa;
        border-radius: 3px;
        transition: width 0.17s 0s linear;
    }

    footer {
        z-index: 11;
    }

    #sidebar {
        position: absolute;
        right: 0;
        top: 8dvh;
        bottom: 4dvh;
        height: 88dvh;
        width: 0%;
        z-index: 3;
        background-color: hsl(16deg 5% 95%);
        border-radius: 2.25rem 0px 0px 2.25rem;
        transition: width 0.166s 0s;
        /* ↓ Handled by sidebar_script.js now ↓ */
        /* border-left: double #dcdcdc 0.5rem;
        transition-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05); */
    }

    #sidenav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 0.75rem;
        list-style-type: none;
    }

    #sidenav a {
        padding: 0.25rem;
        background-color: hsl(12 75% 20% / 1);
        text-align: center;
        border-radius: 4rem;
    }
    
    #sidenav li {
        color: hsl(16 30% 95% / 1);
        font-family: "Baloo 2", sans-serif;
        font-size: 1.5rem;
    }
}

